---
name: Upgrade Python Dependencies

on:
  schedule:
    - cron: 0 8 * * 1  # Every Monday at 8:00 AM
  workflow_dispatch:
    inputs:
      ## General
      working-directory:
        required: true
        type: string
        description: |
          "Directory in which the project is located"

jobs:
  upgrade-dependencies:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install pip-audit
        run: uv tool install pip-audit

      - name: Upgrade dependencies
        run: uv lock --upgrade

      - name: Audit dependencies
        run: |
          uv export --no-emit-project --format requirements-txt --output-file requirements.txt
          pip-audit --no-deps --disable-pip --skip-editable -r requirements.txt
          rm requirements.txt

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'chore: upgrade dependencies'
          title: 'chore: upgrade dependencies'
          body: |
            This PR upgrades the Python dependencies in ${{ inputs.working-directory }}.
            Auto-generated by GitHub Actions.
          branch: upgrade-dependencies
          base: ${{ github.event.repository.default_branch }}
          delete-branch: true
